<div class="container mb-3 flash-container" role="alert">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {% if message['role'] == 'success'%}
          <div class="alert alert-success" role="alert">
            {{message['message']}}
          </div>
        {% elif message['role'] == 'failure' %}
          <div class="alert alert-danger" role="alert">
            {{message['message']}}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
