{% extends 'base.html'%}
 {% block body %}
  <h5 class="text-center header">LOGIN PAGE</h5>
  <div class="mt-5">
    <form class="login-container" action="{{url_for('user.login')}}" method="POST">
      <div>
        <label for="email">Email or Username</label>
        {{ form.email(placeholder="email or username", class="form-control",
          required=true) }}
        <span class="error">
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
      <div class="separator">
        <hr class="separator-line">
        <span class="ml-3 mr-3 mt-1">and</span>
        <hr class="separator-line">
      </div>
      <div>
        <label for="password">Password</label>
        {{ form.password(placeholder="password", class="form-control",
           required=true)}}
        <span class="error">
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
      <div class="text-right">
        <button  id='submitLogin' type="submit" class="btn btn-primary">
            SIGN IN
            <span class="fas fa-sign-in-alt"></span>
        </button>
      </div>
      {{ form.csrf_token }}
    </form>
    <div class="login-container">
      New to CatalogApp?
        <a href="{{url_for('user.register')}}">Create an account.</a>
    </div>
  </div>

{% endblock %}
{% block script %}
  <script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock %}
