{% extends 'base.html'%}

{% block head %}
<script src="{{url_for('static', filename = 'js/lib/jquery-3.3.1.js')}}"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
</script>
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
          client_id: 'YOUR-CLIENT-ID.apps.googleusercontent.com',
      });
    });
  }
</script>
{% endblock %}

 {% block body %}
  <h5 class="text-center header">LOGIN PAGE</h5>
  <div class="mt-5">
    <div class="text-center" id="result"></div>
    <form class="login-container" action="{{url_for('user.login')}}"
      method="POST">
      <div>
        <label for="email">Email or Username</label>
        {{ form.email(placeholder="email or username", class="form-control",
          required=true) }}
        <span class="error">
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
      <div class="separator">
        <hr class="separator-line">
        <span class="ml-3 mr-3 mt-1">and</span>
        <hr class="separator-line">
      </div>
      <div>
        <label for="password">Password</label>
        {{ form.password(placeholder="password", class="form-control",
           required=true)}}
        <span class="error">
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
      <div class="text-right">
        <button  id='submitLogin' type="submit" class="btn btn-primary">
            SIGN IN
            <span class="fas fa-sign-in-alt"></span>
        </button>
      </div>
      {{ form.csrf_token }}
    </form>
    <div class="login-container">
      New to CatalogApp?
        <a href="{{url_for('user.register')}}">Create an account.</a>
    </div>
  </div>

<div class="login-container">

<div id="signinButton">
    <img src="{{url_for('static', filename='img/btn_google.png')}}"
      alt="Google Sign In Button">
  </div>
</div>

{% endblock %}

{% block script %}
  <script>
    $(function() {
      $('#signinButton').on('click', function() {
        auth2.grantOfflineAccess().then(signInCallback);
      });

      function signInCallback(authResult) {
        if (authResult['code']) {
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            headers: {
              'X-Requested-With': 'XMLHttpRequest'
            },
            contentType: 'application/octet-stream; charset=utf-8',
            processData: false,
            data: authResult['code'],
            success: function(result) {
              $("#result").html(result + '<br>Redirecting...');
              setTimeout(function() {
               window.location.href = "{{url_for('main.showHome')}}";
              }, 2000);
            }
          });
        } else {
          $("#result").text('An error occurred while processing your request.')
        }
      }
    });
  </script>
{% endblock %}
