fieldset{
  border: 1px solid rgba(0,34,255,0.5);
  padding: 7px;
  border-radius: 5px;
  height: 600px;
  padding-top: 10px;
}

legend{
  width: auto;
  font-size: 1rem;
}

.top-bar{
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.item-field{
  -webkit-box-shadow: 3px 3px 7px 1px rgba(0,34,255,1);
   -moz-box-shadow: 3px 3px 7px 1px rgba(0,34,255,1);
   box-shadow: 3px 3px 7px 1px rgba(0,34,255,1);
}

.category-field{
  -webkit-box-shadow: -3px 3px 7px 1px rgba(0,34,255,1);
  -moz-box-shadow: -3px 3px 7px 1px rgba(0,34,255,1);
  box-shadow: -3px 3px 7px 1px rgba(0,34,255,1);
}

.flash-container{
  margin-top: 80px;
}

.scrollable{
  height: 90%;
  overflow: auto;
}

.page-title{
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.metal {
  position: relative;
  margin: 0px auto;
  outline: none;
  font-weight: 300;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  box-shadow: -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
              -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
              box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: .25rem;
  line-height: 1.5rem;
  vertical-align: middle;
  padding: .375rem .75rem
}

.metal:active {
  color: hsl(210, 100%, 40%);
  text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
  box-shadow:
    inset hsla(210,100%,30%,  1) 0  0px 0px 1px, /* border */
    inset hsla(210,100%,15%, .4) 0 -1px 2px 1px, /* soft SD */
    inset hsla(210,100%,20%,.25) 0 -1px 0px 1px, /* bottom SD */
    inset hsla(210,100%,100%,.7) 0  0px 0px 1px, /* top HL */

    hsla(210,100%,75%, .8) 0  0px 3px 1px, /* outer SD */
    hsla(210,50%,40%, .25) 0 -2px 3px 1px, /* outer SD */
    hsla(210,80%,95%,   1) 0  2px 3px 1px; /* outer HL */
}

.metal:hover {
  background-color: rgb(215, 220, 230);
}

.edit,
.delete,
.new-item {
  opacity: 0;
  width: 0;
  transform: translate(210%, 0%);
}

.controls:hover > .edit,
.controls:hover > .delete,
.controls:hover > .new-item {
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
  width: auto;
}

.controls .edit,
.controls .delete,
.controls .new-item{
  transition-timing-function: ease-in;
  transition: 0.2s;
}

.modal-header,
.close{
  color: rgba(255, 255, 255, 0.5);
  background-color: #343a40;
}

.item-container{
  font-size: 1.2rem;
  color: rgb(0, 26, 255);
}

.description{
  font-style: italic;
  color: rgba(0, 26, 255, 0.6);
}

.list-group-item:hover{
  cursor: pointer;
  background: rgba(0, 26, 255, 0.15);
  font-weight: bold;
}

.error-li{
  text-align: center;
  color: #dc3545;
}

#deleteModal .modal-header,
#deleteModal .modal-header .close{
  background-color: rgb(176, 9, 9);
  color: rgb(255, 255, 255);
}
