<nav class="navbar navbar-expand-sm navbar-dark bg-dark
  fixed-top top-bar justify-content-between">

  <a href="{{url_for('main.showHome')}}" class="navbar-brand">Catalog App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if user.email %}
        <a id='newCategory' class="nav-link" href="#"
          data-toggle='modal' data-target='#categoryModal'>New Category</a>
        {% endif %}
      </li>
      {% if user.email %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.logout')}}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('user.login')}}">
            Login or Sign Up
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="logged-user container clearfix">
  <div class="float-right">
    {% if user.email %}
      Logged in as <strong>{{user.email}}</strong>
      {% if user.admin%}
      | ADMIN
      {% endif %}
    {% else %}
      <a href="{{url_for('user.login')}}">No user logged in</a>
    {% endif %}
  </div>
</div>
