{% extends 'base.html' %}

{% block body %}
  {% include 'partials/modal.html' %}
  {% include 'partials/edit-modal.html' %}
  {% include 'partials/delete-modal.html' %}
  {% include 'partials/preview-modal.html' %}
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-5">
        <fieldset class="mb-3 category-field">
          <legend>Categories List</legend>
          <div class="scrollable categories-container">

            {% for category in categories %}
            <div class="d-inline-flex w-100 controls">
              <div class="metal linear float-left w-100">
                <span class="category-name" data-category-id="{{category.id}}">{{category.name}}</span>
              </div>

              {% if user.id == category.user_id or user.admin %}
                <div class="float-left delete" data-toggle='modal' data-target='#deleteModal'>
                  <a href="#">
                    <div class="">
                      <button type="submit" name="button"
                        class="btn btn-lg form-control btn-outline-danger">
                        <span class="fas fa-trash-alt"></span>
                      </button>
                    </div>
                  </a>
                </div>

                <div class="float-left edit" data-toggle='modal' data-target='#editModal'>
                  <a href="#">
                    <div class="">
                      <button type="submit" name="button"
                        class="btn btn-lg form-control btn-outline-warning">
                        <span class="fas fa-edit"></span>
                      </button>
                    </div>
                  </a>
                </div>

                <div class="float-left new-item">
                  <a href="{{url_for('item.addCategoryItem', categoryName=category.name)}}">
                    <div class="">
                      <button type="submit" name="button"
                        class="btn btn-lg form-control btn-outline-primary">
                        <span class="fas fa-plus"></span>
                      </button>
                    </div>
                  </a>
                </div>
               {% endif %}
              </div>

            {% endfor %}

          </div>
        </fieldset>
      </div>
      <div class="col-md-7 mb-3">
        <fieldset class="mb-3 item-field">
          <legend>Recently added items</legend>
          <div class="scrollable">
            <div class="item-container">
              <ul class="list-group list-group-flush">
                {% for item in items %}
                <li class="list-group-item">
                  {{item.name}}
                  <span class="description">
                      {{item.category_name}}
                  </span>
                  <div data-item-name="{{item.name}}">
                    <button type="submit" name="button"  data-toggle='modal'
                      data-target='#previewModal' class="btn btn-sm btn-outline-primary">
                      <span class="fas fa-eye"></span>
                    </button>
                    {% if user.id == item.user_id or user.admin %}
                      <a href="{{url_for('item.editCategoryItem',
                        categoryName = item.category_name, itemName = item.name)}}"
                        class="btn btn-sm btn-outline-warning">
                        <span class="fas fa-edit"></span>
                      </a>
                      <button type="submit" name="button"  data-toggle='modal'
                        data-target='#deleteModal' class="btn btn-sm btn-outline-danger">
                        <span class="fas fa-trash-alt"></span>
                      </button>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
{% endblock %}
