{% extends 'base.html' %}

{% block body %}

<div class="container mt-5">
  <h2 class="page-title">Add a new item in {{ category.name }}</h2>
  <form class="mt-5" action="{{url_for('item.addCategoryItem',
                                        categoryName=category.name)}}"
        method="POST">
    <div class="form-group">
      <label for="name">Item Name</label>
      <input type="text" class="form-control" name="name"
        placeholder="Item Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Picture Link</label>
      <input type="text" class="form-control" name="picture"
        aria-describedby="pictureHelp" placeholder="Picture link">
      <small id="pictureHelp" class="form-text text-muted">
          Insert a link to a cool picture of this item.
      </small>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" rows="5"></textarea>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">
        Add <span class="fas fa-plus"></span>
      </button>
    </div>
  </form>

</div>

{% endblock %}
