{% extends 'base.html' %}

{% block head %}
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="https://apis.google.com/js/platform.js?onload=start"> </script>

<script>
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '31130590119-99l84u2v77henoq287lqju9te33e1p63.apps.googleusercontent.com',
        // Scopes to request in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
    });
  </script>

{% endblock %}

{% block body %}

  <div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
      <h1>Sign in to your account </h1>

    </div>
  </div>

  <div id="result"></div>
  <div>
    <fb:login-button
      size="large"
      scope="public_profile,email"
      onlogin="sendTokenToServer();">
    </fb:login-button>
  </div>

  <div id="status">

  </div>

  <button  class="g-signin2" id="signinButton">Sign in with Google</button>
  <!-- Add where you want your sign-in button to render -->
  <!-- Use an image that follows the branding guidelines in a real app -->
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock %}
